@model List<ListItemViewModel>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Subscribers</h4>
        </div><!--end card-header-->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>CreadetAt</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var subcriber in Model)
                        {
                            <tr>
                                <td>@subcriber.Email</td>
                                <td>@subcriber.CreadetAt</td>
                            </tr>
                        }
                    </tbody>
                </table><!--end /table-->
            </div><!--end /tableresponsive-->
        </div><!--end card-body-->
    </div><!--end card-->
</div>